body {
  background-image: url('../images/background.jpg');
  padding: 20px;
}

.hidden {
  display: none;
}

.category-btn,
.game-btn {
  margin: 5px;
}

.correct-answer,
.correct-answer:hover {
  background-color: #00ff00;
  border-color: #00ff00;
  color: #000;
}

.wrong-answer,
.wrong-answer:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #000;
}

.progress-game {
  margin-top: 20px;
}

.progress {
  width: 0%;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.timing,
.score {
  font-weight: bold;
}

.new-question {
  margin-top: 20px;
}
