body {
  background-image: url('../images/background.jpg');
  padding: 20px;
}

.hidden {
  display: none;
}

.btn-game:disabled,
.btn-game[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.category-btn,
.game-btn {
  margin: 5px;
}

.error {
  color: #ff0000;
}

.correct-answer,
.correct-answer:hover, .correct-answer:disabled,
.correct-answer[disabled] {
  background-color: #00ff00;
  border-color: #00ff00;
  color: #000;
}

.wrong-answer,
.wrong-answer:hover, .wrong-answer:disabled,
.wrong-answer[disabled] {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #000;
}

.progress-game {
  margin-top: 20px;
}

.progress {
  width: 0%;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.timing,
.score {
  font-weight: bold;
}

.new-question {
  margin-top: 20px;
}

.end-game {
  margin-top: 30px;
}

.end-game-top {
  margin-top: 15px;
}
